.app-content {
    min-height: 100vh;
}

.main-nav li.no-sub.active a {
    color: rgba(var(--white), 1) !important;
    background: rgba(var(--primary), 1);
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}


.sort-icon {
    font-size: 0.8rem;
    margin-left: 5px;
    color: #ccc;
}

.sort-active {
    color: #000 !important;
}


.image-upload-wrapper {
    height: 200px;
    width: 100%;
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    background: #f8fafc;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-upload-wrapper:hover {
    border-color: #3b82f6;
    background: #f1f5f9;
}

.preview-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.multi-select-box {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
}

.feature-input-group {
    background: #f1f5f9;
    padding: 10px;
    border-radius: 8px;
}